
<div class="text-center"><h1>Text Anything to Anyone, Anonymously</h1></div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center"
    <form action="/whispers" method="POST">
        <%= form_tag(controller: "whispers", action: "send_text", method: "post") do %>
          <%= label_tag(:recipient, "Send to:") %>
          <%= text_field_tag(:recipient) %>
          <br>
          <%= label_tag(:message, "Message:") %>
          <%= text_field_tag(:message, nil, :maxlength => 150) %>
          <br>
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_sSY0kO2WHAbMMkP3zssgmPUB"
            data-amount="100"
            data-name="Stripe.com"
            data-description="Anonymous Text Message"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="false">
          </script>
        <% end %>
      </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="text-center"><h2>FAQ</h2></div>
    <p><strong>Can I use this to tell my loved ones to go fuck themselves?</strong></p>
    <p>Duh. Thats like the main point, homie.</p>
    <p><strong>Is this legal?</strong></p>
    <p>Aw geez, Rick. I really hope so. No death threats please. Save that shit for creepy letters written in blood.</p>
    <p><strong>This FAQ is garbage.</strong></p>
    <p>That isn't even a question!</p>
    <p><strong>Who built this?</strong></p>
    <p>Trust me, you don't wanna know. It's a whooooole can of worms.</p>
    <p><strong>Anything else we should know?</strong></p>
    <p>Ummm don't write anything longer than a tweet(160 characters). Please use this for dastardly schemes, vicious confessions, and brutal insults.</p>

</div>
