<nav class="navbar navbar-default" style="margin:0;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Whispe.rs</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
<div>

  <div id="survey-box" class="col-sm-6 col-sm-offset-3"></div>

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == "notice" ? "success" : "danger" %>" style="width:100%; border-radius:0px; padding: 5px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>

  <div class="row" style="margin: 30px 0 0 0;">
    <div class="col-sm-12">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Whispers -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-1107562583140635"
           data-ad-slot="1246770902"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <div style="text-align: center; margin: 0 0 80px;">
        <span class="typer" style="font-size: 60px; color: #30a2e4;"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center form">
      <form action="/whispers" method="POST" style="margin: 25px 0 60px 0;">
          <div class="col-xs-9" style="padding:0">
          <%= form_tag(controller: "whispers", action: "send_text", method: "post") do %>
            <%= text_field_tag(:recipient, nil, class: "form-control", placeholder: "Target's Phone Number", :required => true, :onclick => "ga('send', 'event', 'Form', 'Target_Phone', 'Click');") %>
          </div>
          <div class="col-xs-3"  style="padding:0 0 0 15px;">
            <%= select_tag(:carrier, "<option value='verizon' selected='selected'>Verizon</option><option value='at&t'>AT&T</option><option value='t-mobile'>T-Mobile</option><option value='sprint'>Sprint</option>".html_safe, class: "form-control") %>
          </div>
          <div class="row">
            <div class="col-xs-12" style="margin: 50px 0 50px 0">
              <%= select_tag(:message, "<option value='Merry Christmas, ya filthy animal!' selected='selected'>Merry Christmas, ya filthy animal 🎄</option><option value='You're kind of a poopy head!'>You're kind of a poopy head 💩</option><option value='I fart in your general direction!'>I fart in your general direction 💨</option><option value='Your mother was a hamster and your father smelled of elderberries'>Your mother was a hamster and your father smelled of elderberries 🍇</option><option>You stuck up, scruffy-looking nerfherder!</option><option value='Live long and prosper.'>Live long and prosper 🖖</option>".html_safe, class: "form-control") %>
            </div>
          </div>

            <%= submit_tag("Send Message") %>
          <% end %>
        </form>
    </div>
    <div class="col-sm-12">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Under Button -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:320px;height:100px"
           data-ad-client="ca-pub-1107562583140635"
           data-ad-slot="4200237305"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
<hr />
<div class="row" style="margin: 60px 0 0 0;">
  <div class="text-center"><h2 style="font-size: 40px; color: #30a2e4;">How Does It Work?</h2></div>
</div>
<div class="row" style="margin: 60px 0 100px 0;">
  <div class="col-sm-4 text-center">
    <h2 style="font-size: 60px; margin: 30px 0;"><%= fa_icon "pencil" %></h2>
    <p style="width: 200px; margin: 0 auto;">Input your friend's phone number and wireless carrier.</p>
  </div>
  <div class="col-sm-4 text-center">
    <h2 style="font-size: 60px; margin: 30px 0;"><%= fa_icon "comment" %></h2>
    <p style="width: 200px; margin: 0 auto;">Pick from our selection of goofy phrases to send.</p>
  </div>
  <div class="col-sm-4 text-center">
    <h2 style="font-size: 60px; margin: 30px 0;"><%= fa_icon "heart" %></h2>
    <p style="width: 200px; margin: 0 auto;">Your message is delivered to the phone number specified.</p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 faq">
    <div class="text-center"><h2 style="font-size: 40px; color: #30a2e4;">FAQ</h2></div>
    <p style="margin-top: 30px;"><strong>What is this thing?</strong></p>
    <p>Whispe.rs is an online tool that lets you send a silly anonymous message to your friends and family for free. Send something Naughty or Nice. The choice is yours!</p>
    <p><strong>Can I use this to secretly tell my loved ones to go fuck themselves?</strong></p>
    <p>Duh. Thats like the main point, homie.</p>
    <p><strong>?</strong></p>
    <p>!</p>
    <p><strong>What are these surveys?</strong></p>
    <p>The surveys are short, sweet, and opinion-based. They won't ask you for any of your personal information and do not have any access to the phone numbers submitted.</p>
    <p><strong>Anything else I should know?</strong></p>
    <p>Nope. Try it out and have fun!</p>
    </div>
  </div>
</div>

<div id="footer" style="margin: 40px 0 0 0;">
  <div class="container text-center" style="background: #fff; width: 100%;">
    <ul style= "list-style: none; padding: 0; margin: 10px 0 10px 0;">
      <li style="padding: 5px 0 0 0;"></li>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".typer").typed({
      strings: ["Text Friends", "Make Laughs", "Try It Out Now! :D"],
      typeSpeed: 60,
      backSpeed: 100,
      backDelay: 1500,
      startDelay: 2000,
      loop: false,
      cursorChar: "|",
    });
  });
</script>
